:root {
    --body-background-color: #000000;
    --body-text-color: #ffffff;
    --breakline-bg-color: #434343;
    --breakline-height: 1px;
}

body {
    min-height: 100vh;
    background-color: var(--body-background-color);
    font-size: rem(16);
    color: var(--body-text-color);
}

.btn {
    height: auto;
    width: auto;
    min-width: unset;
    margin: 0;
    padding: 0.7rem 2.1rem;
    border-radius: 3rem;
    font-size: 15px;
    transition: all 0.3s linear;
}
